

#heading{
  color: #212121;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#button{
  border-radius: 30px;
  padding: 20px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-evenly;
  transform: translate(0,80vh);
}

.buttons{
  color: bisque;
  width: 7em;
  padding: 0.5em;
  font-size: large;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
#butt1{
  background-color: blue;
}
#butt2{
  background-color: green;
}
#butt3{
  background-color: yellow;
  color: #212121;
}
#butt4{
  background-color: black;
}
#butt5{
  color: #212121;
}

#container{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}